/* COMMON */
img {
    width: 100%;
}
section {
    padding: 15px;
}
h1 {
    color: white;
}
.ms_radius {
    border-radius: 20px;
}
ul {
    list-style: none;
    margin-bottom: 0;
}
/* HEADER */
header {
    background-color: #2c3e50;
    color: white;
    line-height: 90px;
    text-transform: uppercase;
    font-weight: 700;
}
.ms_icon {
    border: solid gray 1px;
    color: grey;
    padding: 8px;
    display: inline;
}
.brand {
    font-size: 1.8rem;
}

/* MAIN */
.ms_green {
    background-color: #1bbc9c;
}
.ms_green img {
    width: 50%;
}
.ms_white {
    color: black;
}
.ms_2_container {
    width: 70%;
    margin: 0 auto;
    color: white;
}
.ms_border {
    line-height: 3rem;
    border-bottom: solid gray 1px;
}
.ms_border:last-of-type {
    padding-bottom: 90px;
}
/* FOOTER */
footer {
    background-color: #3a546d;
    color: white;
}
footer .row div {
    line-height: 50px;
}
#bottom_footer {
    background-color: #2c3e50;
}